<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <div>
    <button
      mat-icon-button 
      class="example-icon" 
      aria-label="Example icon-button with menu icon"
      [routerLink]="'/listaTweets'"      >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-icon-button 
      class="example-icon" 
      aria-label="Example icon-button with menu icon"
      [routerLink]="'/crearTweet'">
     <mat-icon> create</mat-icon>
    </button>
    <button
      mat-icon-button 
      class="example-icon" 
      aria-label="Example icon-button with menu icon"
      [routerLink]="'/crearUsuario'">
     <mat-icon> assignment_ind</mat-icon>
    </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <h1>&copy; Danny Ochoa, Freddy Patarroyo, Nicolas Soler</h1>
</footer>
 
