mat-toolbar-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

mat-toolbar-row button{
    margin-right: 40px;
}

footer{
    background: darkorchid;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer h1{
    margin: 10px auto;
}